[user]
	name = Slawek Kolodziej
	email = hfrntt@gmail.com
[color]
	ui = auto
[github]
	user = slawekkolodziej
[core]
	excludefile = ~/.gitignore_global
	excludesfile = ~/.gitignore_global
	editor = vim
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	st = status
	ci = commit
	me = !git log --author `git config user.email` --pretty=format:'%Cgreen%h%Creset %Cred%ad%Creset %s' --date=short --
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = cache
