[submodule "apps/sublime3/Packages/GoSublime"]
	path = apps/sublime3/Packages/GoSublime
	url = https://github.com/DisposaBoy/GoSublime.git
[submodule "apps/sublime3/Packages/SublimeLinter"]
	path = apps/sublime3/Packages/SublimeLinter
	url = https://github.com/kstrauser/SublimeLinter.git
	branch = sublime-text-3
